body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
  text-align: center;
}
th {
  text-align: center;
  background-color: cornflowerblue;
  color: black;
}
